# Build output
out/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# CMake
CMakeCache.txt
CMakeFiles/

# Visual Studio
.vs/
*.suo
*.user
*.pdb
*.ilk

# VS Code / Rider
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and temps
*.log
*.bak
*.tmp